// ============================================
// General Alignment Variables and Classes
// ============================================

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.position-bottom-right {
  position: absolute;
  bottom: 24px;
  right: 24px;
}