// ==================
// Keyframe Animations
// ==================

@keyframes flicker {
    0% {
        opacity: 0.27;
    }

    5% {
        opacity: 0.2;
    }

    10% {
        opacity: 0.33;
    }

    15% {
        opacity: 0.17;
    }

    20% {
        opacity: 0.3;
    }

    25% {
        opacity: 0.2;
    }

    30% {
        opacity: 0.32;
    }

    35% {
        opacity: 0.3;
    }

    40% {
        opacity: 0.31;
    }

    45% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.34;
    }

    55% {
        opacity: 0.3;
    }

    60% {
        opacity: 0.25;
    }

    65% {
        opacity: 0.35;
    }

    70% {
        opacity: 0.31;
    }

    75% {
        opacity: 0.2;
    }

    80% {
        opacity: 0.3;
    }

    85% {
        opacity: 0.34;
    }

    90% {
        opacity: 0.25;
    }

    95% {
        opacity: 0.3;
    }

    100% {
        opacity: 0.27;
    }
}

@keyframes text-flicker {
    0% {
        opacity: 0.8;
        transform: skewX(0.5deg);
    }

    5% {
        opacity: 0.9;
        transform: skewX(-0.5deg);
    }

    10% {
        opacity: 0.7;
        transform: skewX(0deg);
    }

    15% {
        opacity: 1;
        transform: skewX(1deg);
    }

    20% {
        opacity: 0.8;
        transform: skewX(0deg);
    }

    100% {
        opacity: 1;
        transform: skewX(0deg);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes page-load {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}